#MODS: SherpaMini extruder, V6 hotend, Hero me 7 fanduct and toolhead, KlackEnder

# See docs/Config_Reference.md for a description of parameters.
[include fluidd.cfg]
[include mainsail.cfg]
[include spoolman.cfg]
[include custom_macros.cfg]
[include timelapse.cfg]
[include KlackEnder.cfg]

[exclude_object]

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
# original size
position_max: 245 #+10mm to allow for klackender to be picken out
# post Speedrive V2 (no bmg)
# position_max: 200
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: -8
position_min: -8
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
# endstop_pin: ^PA7
# position_endstop: 0.0
position_min: -5
position_max: 250

[extruder]
max_extrude_only_distance: 150.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
# rotation_distance: 4.4664
rotation_distance: 4.45
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 280
pressure_advance : 0.1125

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
baud: 115200
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100


[probe]
pin: ^PA7 #Change to where you plug your probe in, endstop or probe pin pulled high (^)
#z_offset: 6.3 #Measure per your specific setup. Klipper will NOT save this value if this in not located in printer.cfg
x_offset: 4 # negative = left of the nozzle
y_offset: 21 # negative = in front of of the nozzle
speed: 5.0
lift_speed: 15.0
sample_retract_dist: 1
samples: 2
samples_tolerance_retries: 6


# Pin mappings for BL_T port
#[bltouch]
#sensor_pin: ^PB1
#control_pin: PB0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.002
#*# pid_ki = 1.795
#*# pid_kd = 109.208
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.201808, -0.011942, -0.014442, 0.023058, 0.264308
#*# 	0.123058, 0.049308, 0.031808, 0.049308, 0.125558
#*# 	0.104308, 0.045558, 0.000558, -0.009442, 0.043058
#*# 	0.145558, 0.033058, 0.013058, -0.044442, 0.085558
#*# 	0.113058, 0.186808, 0.140558, 0.073058, 0.183058
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 8.0
#*# max_x = 223.0
#*# min_y = 30.0
#*# max_y = 201.0
#*#
#*# [probe]
#*# z_offset = 6.249
